<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903113298048-0jfgpr4hd4a121q5gr3h19lbr95phvq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903113298048-0jfgpr4hd4a121q5gr3h19lbr95phvq3</string>
	<key>API_KEY</key>
	<string>AIzaSyA4oVHetpx3X3HSreJqDKA3sP5VdTzNKr0</string>
	<key>GCM_SENDER_ID</key>
	<string>903113298048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mile2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>favorite-movie-practice</string>
	<key>STORAGE_BUCKET</key>
	<string>favorite-movie-practice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903113298048:ios:38ac455877686ec6d45665</string>
</dict>
</plist>